{
  "tokens":{
    "discord":"SECRET",
    "slack":"SECRET",
    "guildId":"SECRET"
  },
  "chatBridgeConfig":[
    {"discord":{
      "mainId":"SECRET",
      "general":"",
      "dev":"",
      "gamedev":""
    }},
    {"slack":{
      "mainId":"SECRET",
      "general":"",
      "dev":"",
      "gamedev":""
    }}

  ],
  "commands":["roll", "help"],
  "autoresponses":[
    {
      "keys" : "Ahoy, ahooy",
      "values" : ["Capitaine sur le pont!", "Captain on the bridge!"]
    },
    {
      "keys":  "Hello world",
      "values": ["System.out.println(\"Hello world\");"]
    }
  ]
}